:root{
    --fundo:#87CEFA;
    --cartao-frente:#4682B4;
--cartao-verso:#7FFFD4;
--destaque:#0000CD;
--preto:black;
--branco:white;
}

body{
background-color: var(--fundo);
 }

 footer{
position: fixed;
bottom: 0;
background-color: var(--preto);
color: var(--branco);
width: 100%;
text-align: center;
 }

 #container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap ;
 }
 .cartao{
    background-color: #4682B4;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
 }